html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body{
    margin: 0;
    padding: 0;
    font-family: "Syncopate", sans-serif;
    height: 100%;
    min-height: 100vh;
    min-width: 100vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.head{
    height: 100px;
    background-color: #ffba53;
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 0px 30px;
    
}

.head div{
  display: flex;
  gap: 20px;
  align-items: center;
}

.logo{
    height: 60px;
    width: 60px;
  
}

.title{
    color: black;
    font-size: 40px;
}

.home-btn{
  background-color: black; 
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 25px;
  border-radius: 15px;
}

.home-btn:hover {
  background-color: grey;
  
}

.register-box{
  height: 700px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}


.register-form{
  height: 550px;
  width: 400px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.register-text{
  text-align: center;
  margin-top: 30px;
  font-size: 30px;
}

.input-field {
  margin: 20px auto;
  width: 80%;
}

.input-box {
  width: 100%;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 10px;
}


.register-button{
  width: 80%;
  height: 40px;
  background-color: black; 
  color: white;
  font-size: 25px;
  border-radius: 10px;
  display: block;
  margin: 20px auto;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: none;
}

.register-button:hover {
  background-color: grey;
  
}

.login-link {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
}

.login-link a {
  color: #1e60f2;
  text-decoration: none;
}

.footerBottom{
    background-color: #000;
    padding: 20px;
    text-align: center;
}

.footerBottom p{
    color: white;
    font-size: 20px;
}

.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}