
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html {
  scroll-behavior: smooth;
}



body{
    
    font-family: "Syncopate", sans-serif;
}

.nav-bar{
    background-color: #ffba53;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    padding: 20;
    color: white;
    font-size: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav-bar a:hover {
  color: white;
}

a{  
    color: black;
    text-decoration: none;
    
}

.logo{
    height: 80px;
    width: 80px;

}

.hero-section {
    background-image: url(../assets/header-bg.png);
    background-color: white;
    background-size: cover;
    background-position: center;
    font-size: 35px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    justify-content: center;
    position: relative; 
    overflow: hidden;   
    z-index: 0;       
}

.hero-section::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60%;
    background-color: #ffba53;
    transform: translateY(50%) skewY(-4deg);
    z-index: -1;
}

.button {
  background-color: #ffba53; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.button:hover{
  
  background-color: grey;
}

.login-btn{
  background-color: black; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 25px;
  border-radius: 15px;
}

.login-btn:hover {
  background-color: grey;
  
}


.image{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 20px;
}

.book{
    display: flex;
    align-items: center;
    justify-content: center;
}


.range__container {
  width: 70%;
  margin: 0 auto;
  padding: 2rem 0;
}

.range__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.range__card {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}

.range__card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.range__card:hover img {
  transform: scale(1.05);
}

.range__details {
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
  z-index: 1;
}

.range__details h4 {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}

.range__details a {
  display: inline-block;
  margin-top: 10px;
  font-size: 1.5rem;
  background: rgba(255, 255, 255, 0.2);
  padding: 10px;
  border-radius: 50%;
  color: white;
  transition: background 0.3s;
}

.range__details a:hover {
  background: rgba(255, 255, 255, 0.4);
}

@media (max-width: 768px) {
  .range__grid {
    grid-template-columns: 1fr;
  }

  .range__container {
    width: 90%;
  }
}

.range__card .overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4); 
  z-index: 1;
  
}

.section__header {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 3rem;
  border: non;
}

.banner__container {
  padding-block: 5rem;
  overflow: hidden;
}

.banner__wrapper {
  width: max-content;
  display: flex;
  align-items: center;
  gap: 8rem;

  animation: scroll 45s linear infinite;
}

.banner__wrapper img {
  height: 100px;
}

@keyframes scroll {
  to {
    transform: translateX(calc(-50% - 4rem));
  }
}

.side-image{
    background-image: url(../assets/description-side.jpg);
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    padding-top: 25px;
    padding-bottom: 20px;
    width: 100%;
}

.description {
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
    color: black;
    width: 100%;
    height: 349px;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.description h2{
  margin-bottom: 10px;
}

.description p{
    color: black;
    text-decoration: none;
    text-align: center;
    font-size: 25;
    padding: 8px;
    margin-left: 20px;
}




.footerBottom{
    background-color: #ffba53;
    padding: 20px;
    text-align: center;
    border: none;
    box-shadow: 0 -4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 

}

.footerBottom p{
    color: black;
    font-size: 25;
    border: none;
    
}

.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}